body {
  display: flex;
  background-color: #090202;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.calc-body {
  display: flex;
  box-sizing: border-box;
  min-width: 350px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5%;
  flex-direction: column;
  align-items: center;
  background-color: #99e2b4;
}
.calc-display {
  display: flex;
  background-color: #88d4ab;
  min-width: 320px;
  min-height: 100px;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 5%;
  justify-content: center;
  align-items: center;

  font-size: 25px;
}

.calc-keys {
  display: flex;
  gap: 0.5em;
}

.keys1,
.keys2 {
  display: grid;
  gap: 0.5em;
}
.keys1 {
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 50px 50px 50px 50px 50px;
}
.keys2 {
  grid-template-columns: 75px;
  grid-template-rows: 50px 50px 50px 50px;
}

.grid-stretch-column {
  grid-column: span 2;
}
.grid-stretch-row {
  grid-row: span 2;
}
.calc-keys button {
  border-radius: 5%;
}

.calc-digit {
  background-color: #f2e2ba;
  font-weight: bolder;
}

.operator {
  background-color: #bad7f2;
  font-size: 35;
  font-weight: bold;
}

.calc-clear,
.calc-del {
  background-color: #036666;
  font-weight: bold;
}

.large-text {
  font-size: 30px;
}
.pastel-red {
  background-color: #ff70a6;
}
.white-text {
  color: whitesmoke;
}
